body,
body.html {
  background: white;
  color: #000000;
  font-size: 12pt;
  font-family: Georgia, "Times New Roman", Times, serif;
}
a,
a:link,
a:visited,
a:focus {
  color: #000000;
}
a:after,
a:link:after,
a:visited:after,
a:focus:after {
  content: "";
}
a:link,
a:visited {
  background: transparent;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #000000;
  color: #000000 !important;
  font-family: sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 18pt;
}
h2 {
  font-size: 16pt;
}
h3 {
  font-size: 13pt;
}
h4 {
  font-size: 12pt;
}
hr {
  border: none;
}
table {
  font-size: 12pt;
}
td,
th {
  padding: 3px;
}
#navbar {
  display: none;
}
.footer {
  display: none;
}
.tabs--primary.nav.nav-tabs {
  display: none;
}
.alert {
  display: none;
}
.lead {
  font-size: 16pt;
  color: #000000;
  margin: 0;
}
.container {
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
  margin: 0 1%;
  background: transparent none;
  padding-top: 1em;
}
.container.main-container {
  margin: 0 1%;
}
.powered-by {
  display: none;
}
.btn,
.btn-default,
.btn-primary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn:hover,
.btn:focus .btn-default:hover,
.btn-default:focus .btn-primary:hover,
.btn-primary:focus .btn-success:hover,
.btn-success:focus .btn-danger:hover,
.btn-danger:focus .btn-warning:hover,
.btn-warning:focus .btn-info:hover,
.btn-info:focus {
  background: none;
  color: #000000;
  color: #000000 !important;
  border: 1px solid #000000;
  border: 1px solid #000000 !important;
  padding: 2px 5px;
  margin: 5px;
}
.breadcrumb {
  display: inline-block;
}
.print-only {
  display: block;
}
p,
.multi-images {
  page-break-inside: avoid;
}
i.fa {
  color: #000000;
  color: #000000 !important;
}
.main-container .panel-panel .panel-pane {
  border: 0 !important;
  border: 0;
}
.panel-panel > div {
  border: 0;
  border: 0 !important;
}
.panel-pane {
  border: 0;
  border-color: #000000;
  border-color: #000000 !important;
}
a.print,
a.download,
a.email {
  display: none;
}
#block-system-main .znote {
  background: none;
  border: 0;
  border: 0 !important;
}
